@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--clr-primary: #006778 /* Teal */;
	--secondary: #d7a22a /* Gold */;
	--base-100: #000000 /* Black */;
	--neutral: #101820 /* Off Black */;
	--accent: #9f792c /* Dark Gold */;
	--base-content: #ffffff /* White */;
}
body {
	font-family: "AR One Sans", sans-serif;
}

/* Header */
.banner {
	width: 100%;
}
.navbar {
	position: absolute;
}
.icon-group {
	display: flex;
	flex-direction: column;
	float: right;
}

/* Menu */
.menu {
	position: absolute;
	top: 5rem;
	right: 0.2rem;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}
.show {
	visibility: visible;
	opacity: 1;
}
.menu-item {
	border-radius: 0.5rem;
	transition: all 0.4s;
}

/* Special Text color */
span {
	color: var(--secondary);
}

/* Project Card */
.card-body {
	padding: 1.6rem;
}
