@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
    width: 100%;
}
.navbar {
    position: absolute;
}
.icon-group {
    display: flex;
    flex-direction: column;
    float: right;
}
.icon {
   
}